<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" id="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1" />
    <meta http-equiv="Cache-Control" content="no-transform " />
    <meta http-equiv="pragram" content="no-cache">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no" />
    <link rel="apple-touch-icon" href="app.png" />
    <link href="favicon.ico" rel="shortcut icon" />
    <title>淘生活</title>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="fonts/iconfont.css">
    <script data-main="js/app/config.js" src="lib/require.js"></script>
</head>
<body ng-controller="MobileAppCtrl">
<header>
    <a href="javascript:;"><span class="icon icon-left"></span></a>
    <h2>淘生活</h2>
    <a href="javascript:;"><span class="icon icon-share"></span></a>
</header>
<div class="content">
    <div ng-view=""></div>
</div>
<footer>
    <a ng-repeat="tab in appTabs" href="{{tab.target}}" ng-class="{'tabselected': tab.isSelected}" ng-click="changeTab(tab)">
        <i ng-class="{'{{tab.selectedClass}}': tab.isSelected, '{{tab.tabClass}}': !tab.isSelected}"></i>
        <span ng-bind="tab.tabName"></span>
    </a>
</footer>
</body>
</html>

<script type="text/ng-template" id="logistics.html">
    <h1> logistics </h1>
</script>
<script type="text/ng-template" id="shoppingcar.html">
    <h1> shoppingcar </h1>
</script>
<script type="text/ng-template" id="myCat.html">
    <h1> myCat </h1>
</script>